* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: #7C7F88;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

body {
    background-color: white;
    padding-bottom: 130px;
}


h1 {
    font-family: Oswald, sans-serif;
    color: black;
    font-weight: 500;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 85px;
}

h2 {
    font-family: Oswald, sans-serif;
    color: #4C4F59;
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-family: Oswald, sans-serif;
    color: #41538a;
    font-weight: 400;
    font-size: 22px;
}

p {
    font-family: Merriweather, serif;
    color: #7C7F88;
    font-weight: 550;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 85px;
}

nav {
    text-align: right;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: inline-flex;
    gap: 0;
    border: 3px solid #B2C9E4;
    border-radius: 50px;
    padding: 0.4em 0.2em;
    margin: 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline-block;
    padding: 0 0.4em;
    margin: 0;
    border-right: 2px solid #B2C9E4;
}

nav li:last-child {
    border-right: none;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    font-size: 1.6em;
    padding: 0.1em 0.6em;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

nav a:hover {
    background-color: #41538a;
}

a {
    text-decoration: none;
}


button {
    font-family: Oswald, sans-serif;
    background-color: #B2C9E4;
    color: white;
    border-radius: 50px;
    padding: 5px 25px;
    margin-top: 40px;
    border-color: transparent;
    font-size: 25px;
    
}

button:hover {
    background-color: #41538a;
    cursor: pointer;
}

.button {
    font-family: Oswald, sans-serif;
    background-color: #B2C9E4;
    color: white;
    border-radius: 50px;
    padding: 5px 25px;
    margin-top: 40px;
    border-color: transparent;
    font-size: 25px;
    display: inline-block;
}

.button:hover {
    background-color: #41538a;
    cursor: pointer;
}


footer {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: #7C7F88;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
}

p a {
    color: #4C4F59;
    font-size: 20px;
    text-decoration: none;
}

p a:hover {
    color: #41538a;
    font-weight: 800;
}

label {
    font-family: Oswald, sans-serif;
    color: #4C4F59;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
}

#logo {
    width: 120px;
    height: auto;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#logo-h1 {
    margin: 0;
}

#portrait {
    width: 230px;
    height: auto;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 25px;
}

#home-h1 {
    margin: 0;
}


#home-h2 {
    margin: 0;
    margin-top: 20px;
}

#home-p {
    max-width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}

#pic-p {
    margin: auto;
}

#resume-button {
    margin-left: 85px;
}

#first-about-p {
    margin-top: 35px;
}

#flow-pics {
    margin-bottom: 20px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.icons {
    height: 35px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.icons:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(35%) saturate(1100%) hue-rotate(201deg) brightness(95%) contrast(90%);
    cursor: pointer;
}

.cite {
    font-size: 12px;
    font-weight: 500;
    margin: auto;
}

.underline {
    display: inline-block;
    border-bottom: 4px solid #B2C9E4;
}

.footer-p {
    margin: auto;
}

.about-body {
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: auto;
}

.accent {
    color: #41538a;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 50px;
    padding-left: 85px;
    padding-right: 60px;
}

.split {
    flex: 1;
}

.container .content {
    max-width: 700px;
}

.container .content h1 {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.container .content p{
    margin-left: 0 !important;
    margin-top: 25px;

}

.container .content label {
    margin-left: 0 !important;
    margin-top: 0;
}

.container .content h1.underline {
    margin-bottom: 10px;
}

.contact-form {
    margin-top: 15px;
}

.contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    font-family: Merriweather, serif;
    color: #7C7F88;
    font-size: 12px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #41538a;
    outline: none;
}

.submit-btn {
    margin-top: 15px;
}

.split.right {
    display: flex;
    justify-content: flex-end;

}

.split.right .content {
    text-align: left;
}


.split.right .content p {
    display: flex;
    align-items: center;
    gap: 12px;

}

.split.right .content img {
    width: 35px !important;
    height: auto !important;
    margin: 0;
    margin-right: 10px;
}

.email-shift {
    margin-right: 30px;
}

.email-shift a {
    transition: color 0.1s ease, transform 0.1s ease;
}

.email-shift a:hover {
    color: #41538a;
    transform: scale(1.02);
    font-weight: 550;
}

.contact-icons {
    width: 20px;
    height: auto;
}

.project-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 85px;
    margin-right: 50px;
    border: 3px solid #B2C9E4;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.project-image:first-child {
    margin-top: 40px;
}

.project-image:hover {
    border-color: #41538a;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.project {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}

.project-text {
    flex: 1;
}

.project-text h2 {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 500;
}

.project-text p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 700px;
}

.project-button {
    margin: 0;
    margin-top: 5px;
}

.figma-prototype {
    margin: 20px 85px;
}

.figma-prototype p {
    font-family: Merriweather, serif;
    font-size: 17px;
    color: #7C7F88;
    margin: 20px 0 25px 0 !important; 
    padding: 0;
    text-align: left;
    max-width: 1200px;
}

.figma-frames {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-left: 0 !important;
    margin-left: 90px;
}

.frame {
    flex: 1 1 250px;
    text-align: center;
}

.frame img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid #B2C9E4;
    object-fit: cover;
}
.frame-tall {
    flex: 1 1 280px;
    text-align: center;
}

.frame-tall img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    border: 2px solid #B2C9E4;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.figma-frames .caption {
    margin: 10px 0 0 0 !important;
    padding: 0;
    text-align: center;
}

.first-pic {
    float: left;
    height: 330px;
    width: auto;
    margin: 65px 50px 25px 85px; 
    border-radius: 15px;
    border: 3px solid #B2C9E4;
}

.project-detail {
    padding-right: 85px;
}

.project-detail h1 {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 15px;
}

.project-detail h2,
.project-detail p {
    margin: 0;
    margin-top: 15px;
    margin-left: 85px;
    max-width: 1200px;
}

.project-detail ul  {
    margin: 0;
    margin-top: 15px;
    margin-left: 100px;
    max-width: 1200px;
}

.project-detail li {
    margin-top: 8px;
    font-family: Merriweather, serif;
    color: #7C7F88;
    font-size: 17px;
    font-weight: 550;
}

.after-image {
    clear: left;
}

.site-link {
    margin: 0;
    margin-left: 85px;
    margin-top: 15px;
}

.site-link:hover {
    background-color: #41538a;
    cursor: pointer;
}

.enlargeable {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.enlargeable:hover {
    border-color: #41538a;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 85vh;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.hidden-profile {
    margin: 30px 0;
    margin-left: 85px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0;
    background: #f9f9f9;
    overflow: hidden;
}


.hidden-profile summary {
    font-family: Oswald, sans-serif;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background: #e5edf7;
    border-bottom: 1px solid #ccc;
    list-style: none;
    color: #41538a;
}

.hidden-profile summary::-webkit-details-marker {
    display: none;
}

.hidden-profile summary::after {
    content: "▼";
    float: right;
    transition: transform 0.2s ease;
}

.hidden-profile[open] summary::after {
    transform: rotate(-180deg);
}

.hidden-content {
    margin-left: -60px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.subheading {
    margin: 20px 85px;
}



/* mobile phones */

@media (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #logo {
        width: 100px;
        height: auto;
        margin-left: 0;
    }

    #logo-h1 {
        text-align: center;
    }


    nav {
        width: 100%;
        text-align: center;
        margin: 10px 0 0 0;
    }

    nav ul {
        flex-direction: column;
        gap: 0;
        border: none;
        border-radius: 0;
        padding: 0;
        align-items: stretch;
        width: 100%;
        background-color: transparent;
        border-top: 2px solid #B2C9E4;
        border-bottom: 2px solid #B2C9E4;
    }

    nav li {
        border: none;
        border-bottom: 2px solid #B2C9E4;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav li:last-child {
        border-bottom: none;
    }

    nav a {
        display: block;
        width: 100%;
        font-size: 1.2em;
        padding: 12px 0;
        border-radius: 0;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: #41538a;
    }

    footer {
        padding: 8px 0;
    }

    footer .icons {
        height: 25px;
        width: auto;
        margin: 10px 12px 8px 12px;
    }

    footer .cite {
        font-size: 11px;
    }

    #pic-p {
        margin-top: 5px;
    }

    h1 {
        font-size: 30px;
        margin-left: 40px;
        margin-top: 25px;
    }

    h2 {
        font-size: 22px;
        margin-left: 40px;
        margin-top: 18px;
    }

    h3 {
        font-size: 20px;
        margin-left: 40px;
        margin-top: 15px;
    }

    p {
        font-size: 16px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .portfolio-heading {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 0;
        margin-top: 10px;
    }

    .project-text {
        max-width: 700px;
        margin: 0;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .project-text h2 {
        font-size: 26px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .project-description {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .project-image {
        width: 80%;
        max-width: 450px;
        height: auto;
        margin: 0;
    }

    button,
    .button,
    .project-button,
    .site-link {
        font-size: 22px;
        padding: 5px 18px;
    }

    .project-button {
        font-size: 18px;
        padding: 8px 20px;
        margin-bottom: 0px;
    }

    .email-shift a {
        font-size: 16px;
    }

    .hidden-profile summary {
        font-size: 16px;
        padding: 14px 18px;
    }

    .hidden-content {
        margin: 0;
        padding: 10px;
    }

    .about {
        text-align: center;
    }

    .underline {
        margin-left: 0;
    }

    .about-body {
        margin-right: 45px;
    }

    #resume-button {
        margin-left: 0;
    }

    .container {
        flex-wrap: wrap;
        gap: 40px;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 30px;
    }

    .split {
        flex: 1 1 100%; 
        text-align: center;
    }
    
    .project-detail {
        padding-right: 0;
        padding-left: 0;
    }

    .project-header {
        text-align: center;
    }

    .first-pic {
        display: block;
        height: 210px;
        width: auto;
        float: none;
        margin: 45px auto 25px auto;
    }

    .project-detail h1 {
        margin: 10px auto;
        text-align: center;
    }

    .project-detail h1,
    .project-detail h2,
    .project-detail h3,
    .project-detail p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 90%;
    }

    .project-detail ul {
        margin: 15px auto;
        max-width: 85%;
        text-align: left;
        padding-left: 20px;
    }

    .figma-prototype {
    margin: 20px 0 !important;
    padding: 0 !important;
    text-align: center;
    max-width: 100%;
}

    .figma-prototype h3 {
        margin: 0 auto !important;
        text-align: center;
    }

    .figma-prototype p {
        margin: 20px auto 25px auto !important;
        text-align: center;
        max-width: 90%;
    }

    .figma-frames {
        margin: 0 auto !important;
        padding: 0 20px !important;
        justify-content: center;
    }


    .project-header {
        margin: 10px auto 15px auto;
        text-align: center;
        display: block;
    }

    .project-detail h1.underline {
        display: inline-block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .project-detail {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }

    .project-detail a {
        text-decoration: none !important;
        border-bottom: none !important;
    }

    .site-link {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
    }

    .hidden-profile {
        margin: 30px auto;
        max-width: 90%;
    }

    .subheading {
        margin: 20px auto;
        text-align: center;
        max-width: 90%;
    }

    .subheading h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hidden-content p {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        max-width: 95%;
        padding: 0 15px;
    }

    .email-text {
        font-size: 24px;
    }
    
    .contact-icons {
        max-width: 25px !important;
        height: auto !important;
        margin-right: 4px !important;
    }

    .email-shift a {
        font-size: 15px;
    }
}

/* tablets */

@media (min-width: 577px) and (max-width: 768px) {
    header {
        padding: 0.7em 1.5em;
    }

    #logo {
        width: 90px;
        height: auto;
    }

    nav ul {
        gap: 15px;
    }

    nav a {
        font-size: 1.2em;
        padding: 0.2em 0.5em;
    }

    #pic-p {
        margin-top: 25px;
    }

    h1 {
        font-size: 30px;
        margin-left: 40px;
        margin-top: 25px;
    }

    h2 {
        font-size: 22px;
        margin-left: 40px;
        margin-top: 18px;
    }

    h3 {
        font-size: 20px;
        margin-left: 40px;
        margin-top: 15px;
    }

    p {
        font-size: 16px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .portfolio-heading {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 0;
        margin-top: 10px;
    }

    .project-text {
        max-width: 700px;
        margin: 0;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .project-text h2 {
        font-size: 26px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .project-description {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .project-image {
        width: 80%;
        max-width: 450px;
        height: auto;
        margin: 0;
    }

    button,
    .button,
    .project-button,
    .site-link {
        font-size: 22px;
        padding: 5px 18px;
    }

    .project-button {
        font-size: 18px;
        padding: 8px 20px;
        margin-bottom: 0px;
    }

    footer {
        padding: 8px 0;
    }

    footer .icons {
        height: 28px;
        width: auto;
        margin: 12px 15px 10px 15px;
    }

    footer .cite {
        font-size: 11px;
    }

    .email-shift a {
        font-size: 17px;
    }

    .hidden-profile summary {
        font-size: 16px;
        padding: 14px 18px;
    }

    .about {
        text-align: center;
    }

    .underline {
        margin-left: 0;
    }

    .about-body {
        margin-right: 45px;
    }

    #resume-button {
        margin-left: 0;
    }

    .container {
        flex-wrap: wrap;
        gap: 40px;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 30px;
    }

    .split {
        flex: 1 1 100%; 
        text-align: center;
    }
    
    .project-detail {
        padding-right: 0;
        padding-left: 0;
    }

    .project-header {
        text-align: center;
    }

    .first-pic {
        display: block;
        height: 280px;
        width: auto;
        float: none;
        margin: 45px auto 25px auto;
    }

    .project-detail h1 {
        margin: 10px auto;
        text-align: center;
    }

    .project-detail h1,
    .project-detail h2,
    .project-detail h3,
    .project-detail p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 90%;
    }

    .project-detail ul {
        margin: 15px auto;
        max-width: 85%;
        text-align: left;
        padding-left: 20px;
    }

    .figma-prototype {
    margin: 20px 0 !important;
    padding: 0 !important;
    text-align: center;
    max-width: 100%;
}

    .figma-prototype h3 {
        margin: 0 auto !important;
        text-align: center;
    }

    .figma-prototype p {
        margin: 20px auto 25px auto !important;
        text-align: center;
        max-width: 90%;
    }

    .figma-frames {
        margin: 0 auto !important;
        padding: 0 20px !important;
        justify-content: center;
    }


    .project-header {
        margin: 10px auto 15px auto;
        text-align: center;
        display: block;
    }

    .project-detail h1.underline {
        display: inline-block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .project-detail {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }

    .project-detail a {
        text-decoration: none !important;
        border-bottom: none !important;
    }

    .site-link {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
    }

    .hidden-profile {
        margin: 30px auto;
        max-width: 90%;
    }

    .subheading {
        margin: 20px auto;
        text-align: center;
        max-width: 90%;
    }

    .subheading h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hidden-content p {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        max-width: 95%;
        padding: 0 15px;
    }

}

/* small desktops */

@media (min-width: 769px) and (max-width: 992px) {
    header {
        padding: 1em 2em;
    }

    #pic-p {
        margin-top: 15px;
    }

    h1 {
        font-size: 30px;
        margin-left: 50px;
        margin-top: 30px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .portfolio-heading {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 0;
        margin-top: 10px;
    }

    .project-text {
        max-width: 700px;
        margin: 0;
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .project-text h2 {
        font-size: 26px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .project-description {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .project-image {
        width: 80%;
        max-width: 450px;
        height: auto;
        margin: 0;
    }

    button,
    .button,
    .project-button,
    .site-link {
        font-size: 22px;
        padding: 5px 18px;
    }

    .project-button {
        font-size: 18px;
        padding: 8px 20px;
        margin-bottom: 0px;
    }

    footer {
        margin-top: 40px;
    }

    .email-shift a {
        font-size: 17px;
    }

    .hidden-profile summary {
        font-size: 16px;
        padding: 14px 18px;
    }

    .about-body {
        margin-right: 45px;
    }

    .container {
        flex-wrap: wrap;
        gap: 40px;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 30px;
    }

    .split {
        flex: 1 1 100%; 
    }

    .split.right {
        justify-content: flex-start;
    }

    .split.right .content {
        margin-top: 10px;
        text-align: left;
    }

    .email-shift {
        margin-right: 0;
    }

    .contact-icons {
        width: 16px;
        height: auto;
    }

    #resume-button {
        margin-left: 50px;
    }

    .first-pic {
        display: block;
        height: 280px;
        width: auto;
        float: none;
        margin-top: 45px;
        margin-left: 45px;
    }

    .project-detail h1 {
        margin-top: 10px;
    }

    .project-detail h1,
    .project-detail h2,
    .project-detail h3,
    .project-detail p {
        margin-left: 45px;
    }

    .project-detail ul {
        margin-left: 60px;
    }

    .figma-prototype {
        margin: 20px 45px;
    }

    .figma-prototype h3 {
        margin: 0;
    }

    .site-link {
        margin-left: 45px;
    }

    .subheading {
        margin-left: 0;
    }

}

/* mediumish desktops */

@media (min-width: 993px) and (max-width: 1050px) {

    .project-text {
        margin-right: 55px;
    }

    .underline {
        font-size: 32px;
    }

    label {
        font-size: 23px;
    }

    p {
        font-size: 16px;
    }

    .project-text h2 {
        margin: 0;
        margin-top: 53px;
        margin-bottom: 15px;
        font-size: 23px;
    }

    .project-text p {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 16px;
    }

    .project-button {
        border-radius: 40px;
        padding: 4px 20px;
        font-size: 22px;
    }

    .about-body {
        margin-right: 85px;
    }

    .email-shift {
        margin-right: 20px; 
    }

    .email-shift a {
        font-size: 16px;
    }

    .first-pic {
        height: 260px;
        width: auto;
        margin: 65px 40px 20px 85px; 
    }

    .site-link {
        border-radius: 35px;
        padding: 3px 18px;
        font-size: 20px;
    }

    .project-header {
        font-size: 30px;
    }

    .project-detail h2 {
        font-size: 22px;
    }

    .project-detail h3 {
        font-size: 20px;
    }

    .project-detail p {
        font-size: 15px;
    }

    .project-detail ul  {
        margin: 0;
        margin-top: 15px;
        margin-left: 100px;
        max-width: 1200px;
    }

    .project-detail li {
        font-size: 16px;
    }

    .frame-tall img {
        height: 100%;
        max-height: 500px;
        width: auto;
        border-radius: 15px;
        border: 2px solid #B2C9E4;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    .hidden-profile summary {
        font-size: 16px;
    }
}

/* slightly bigger desktops */

@media (min-width: 1051px) and (max-width: 1200px) {
    .project-text {
        max-width: 530px;
    }

    .project-text h2 {
        margin: 0;
        margin-top: 53px;
        margin-bottom: 15px;
        font-size: 23px;
    }

    .project-text p {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 16px;
    }

    .project-button {

        border-radius: 40px;
        padding: 4px 20px;
        font-size: 22px;
    }

    .about-body {
        max-width: 880px;
    }

    .email-shift {
        margin-right: 20px; 
    }

    .email-shift a {
        font-size: 18px;
    }

    .first-pic {
        height: 280px;
        width: auto;
        margin: 65px 45px 25px 85px; 
    }

    .project-header {
        font-size: 32px;
    }

    .project-detail h2 {
        font-size: 23px;
    }

    .project-detail h3 {
        font-size: 21px;
    }

    .project-detail p {
        font-size: 16px;
    }

    .project-detail ul  {
        margin: 0;
        margin-top: 15px;
        margin-left: 100px;
        max-width: 1200px;
    }

    .project-detail li {
        font-size: 16px;
    }

    .hidden-profile summary {
        font-size: 17px;
    }

}

/* bigger desktops */

@media (min-width: 1201px) and (max-width: 1400px) {
    .project-text {
        max-width: 650px;
    }

    .project-text h2 {
        margin: 0;
        margin-top: 45px;
        margin-bottom: 15px;
    }

    .project-text p {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}