header {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: #7C7F88;
}

body {
    background-color: white;
}

h1 {
    font-family: Oswald, sans-serif;
    color: black;
}

h2 {
    font-family: Oswald, sans-serif;
    color: #7C7F88;
}

h3 {
    font-family: Oswald, sans-serif;
    color: #7C7F88;
}

p {
    font-family: Ancizar Serif, serif;
    color: #7C7F88;
    font-weight: 400;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  border: 2px solid #B2C9E4;
  border-radius: 50px;
  padding: 0.3em 1em;
  margin: 0 auto;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Oswald, sans-serif;
  padding: 0.2em 0.6em;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

nav a:hover {
  background-color: #B2C9E4;
  color: black;
}

button {
    font-family: Oswald, sans-serif;
    background-color: #B2C9E4;
    color: white;
    border: none;
    padding: 10px 20px;
}