* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: #7C7F88;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

body {
    background-color: white;
}


h1 {
    font-family: Oswald, sans-serif;
    color: black;
    font-weight: 500;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
}

h2 {
    font-family: Oswald, sans-serif;
    color: #4C4F59;
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-family: Oswald, sans-serif;
    color: #4C4F59;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #7C7F88;
    font-weight: 550;
    font-size: 18px;
}

nav {
  text-align: right;
  margin-right: 15px;
}

nav ul {
  list-style: none;
  display: inline-flex;
  gap: 0;
  border: 3px solid #B2C9E4;
  border-radius: 50px;
  padding: 0.4em 0.2em;
  margin: 0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding: 0 0.4em;
  margin: 0;
  border-right: 2px solid #B2C9E4;
}

nav li:last-child {
  border-right: none;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: Oswald, sans-serif;
  font-size: 1.6em;
  padding: 0.1em 0.6em;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
  margin: 0;
}

nav a:hover {
  background-color: #41538a;
}

button {
    font-family: Oswald, sans-serif;
    background-color: #B2C9E4;
    color: white;
    border-radius: 50px;
    padding: 5px 35px;
    margin-top: 40px;
    border-color: transparent;
    font-size: 25px;
}

button:hover {
    background-color: #41538a;
    cursor: pointer;
}

footer {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: #7C7F88;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
}

#logo {
  width: 120px;
  height: auto;
  text-align: left;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#portrait {
  width: 230px;
    height: auto;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 25px;
}

#home-h1 {
    margin: 0;
}


#home-h2 {
    margin: 0;
    margin-top: 20px;
}

#home-p {
    max-width: 350px;
    text-align: center;
    margin: 0;
    margin-top: 25px;
}


.left {
    text-align: left;
}

.center {
    text-align: center;
}

.icons {
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.cite {
    font-size: 12px;
    font-weight: 500;
}