* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: #7C7F88;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

body {
    background-color: white;
}


h1 {
    font-family: Oswald, sans-serif;
    color: black;
    font-weight: 500;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 85px;
}

h2 {
    font-family: Oswald, sans-serif;
    color: #4C4F59;
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-family: Oswald, sans-serif;
    color: #4C4F59;
}

p {
    font-family: Merriweather, serif;
    color: #7C7F88;
    font-weight: 550;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 85px;
}

nav {
    text-align: right;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: inline-flex;
    gap: 0;
    border: 3px solid #B2C9E4;
    border-radius: 50px;
    padding: 0.4em 0.2em;
    margin: 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline-block;
    padding: 0 0.4em;
    margin: 0;
    border-right: 2px solid #B2C9E4;
}

nav li:last-child {
    border-right: none;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    font-size: 1.6em;
    padding: 0.1em 0.6em;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

nav a:hover {
    background-color: #41538a;
}

button {
    font-family: Oswald, sans-serif;
    background-color: #B2C9E4;
    color: white;
    border-radius: 50px;
    padding: 5px 25px;
    margin-top: 40px;
    border-color: transparent;
    font-size: 25px;
}

button:hover {
    background-color: #41538a;
    cursor: pointer;
}

footer {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: #7C7F88;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
}

p a {
    color: #4C4F59;
    font-size: 20px;
    text-decoration: none;
}

p a:hover {
    color: #41538a;
    font-weight: 800;
}

label {
    font-family: Oswald, sans-serif;
    color: #4C4F59;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
}

#logo {
    width: 120px;
    height: auto;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#logo-h1 {
    margin: 0;
}

#portrait {
    width: 230px;
    height: auto;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 25px;
}

#home-h1 {
    margin: 0;
}


#home-h2 {
    margin: 0;
    margin-top: 20px;
}

#home-p {
    max-width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

#pic-p {
    margin: auto;
}

#resume-button {
    margin-left: 85px;
}

#first-about-p {
    margin-top: 35px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.icons {
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.icons:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(35%) saturate(1100%) hue-rotate(201deg) brightness(95%) contrast(90%);
    cursor: pointer;
}

.cite {
    font-size: 12px;
    font-weight: 500;
    margin: auto;
}

.underline {
    display: inline-block;
    border-bottom: 4px solid #B2C9E4;
}

.footer-p {
    margin: auto;
}

.about-body {
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: auto;
}

.accent {
    color: #41538a;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 50px;
    padding-left: 85px;
    padding-right: 60px;
}

.split {
    flex: 1;
}

.container .content {
    max-width: 700px;
}

.container .content h1 {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.container .content p{
    margin-left: 0 !important;
    margin-top: 25px;

}

.container .content label {
    margin-left: 0 !important;
    margin-top: 0;
}

.container .content h1.underline {
    margin-bottom: 10px;
}

.contact-form {
    margin-top: 15px;
}

.contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    font-family: Merriweather, serif;
    color: #7C7F88;
    font-size: 12px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #41538a;
    outline: none;
}

.submit-btn {
    margin-top: 10px;
}

.split.right {
    display: flex;
    justify-content: flex-end;

}

.split.right .content {
    text-align: left;
}


.split.right .content p {
    display: flex;
    align-items: center;
    gap: 12px;

}

.split.right .content img {
    width: 35px !important;
    height: auto !important;
    margin: 0;
    margin-right: 10px;
}

.email-shift {
    margin-right: 30px;
}

.email-shift a {
    transition: color 0.1s ease, transform 0.1s ease;
}

.email-shift a:hover {
    color: #41538a;
    transform: scale(1.02);
    font-weight: 550;
}